<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /BackendApi/public/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?$1 [L,QSA]
</IfModule>

# Cấp quyền truy cập
<FilesMatch "\.(php|html|css|js)$">
    Require all granted
</FilesMatch>
